# Compiled files
*.cmo
*.cmx
*.cmt
*.cmti
*.cmi
*.byte
*.native
*.o
*.a
*.out

# Build directory
_build/

# Dependency directories
_opam/
opam-switch/

# Editor/IDE configuration
*.merlin
*.log
*.cache
*.mldylib
*.mldbyte

# Generated documentation
doc/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
